
h2{
    text-align: center;
    display: inline-flexbox;
    color: darkblue;
}
.try{
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-style: italic;
    background-color: #FF0000;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid blueviolet;
    border-radius: 10px 14px 25px;
    color: yellow;

}
.github{
    display: flex;
    justify-content: space-between;
    background-color: dimgray;
    border-radius: 10px;
    color: chartreuse;
}
#git{
    border: 10px solid saddlebrown;
    list-style-type: none;
    padding: 5px;
    border-radius: 30px;
}
#A{
    text-align: center;
    
    font-size: larger;
    
    

}
#push{
    border: 10px solid saddlebrown;
    list-style-type: none;
    margin-left:20vw;
    border-radius: 30px 30px 5px;

}
#gitp{
    text-align: center;


}